.nav-bar {
    border-bottom: 1px solid black;
   
    
}
li {
    display: inline-block;
    padding: 15px; 
    font-weight: 400;
    
    

}
li button{
    border-radius: 10px;
    background-color:orangered;
    border: none;
    padding: 5px 15px;
    font-weight: bold;
}
.column1{
    float: left;
    width: 33.33%;
    margin-left: 26px;
  font-size: x-large;
}
.column2{
    float: left;
    width: 33.33%;
    margin-bottom: 70px;
}
.container{
    float: left;
    clear: left;
}