.nav-bar {
    border-bottom: 1px solid black;
   
    
}
li {
    display: inline-block;
    padding: 15px; 
    font-weight: 400;
    
    

}
li button{
    border-radius: 10px;
    background-color:orangered;
    border: none;
    padding: 5px 15px;
    font-weight: bold;
}
.column1{
    float: left;
    width: 33.33%;
    margin-left: 26px;
  font-size: x-large;
}
.column2{
    float: left;
    width: 33.33%;
    margin-bottom: 70px;
    padding: 15px;
}
.row{
    float: left;
    clear: left;
    margin-left: 50px;
}
#button1{
    border-radius: 6px;
    color: solid black;
   background-color: orangered;
   border: 1px solid orangered;
   padding: 10px;
}
#button2{
    border-radius: 6px;
    color: orangered;
   background-color: white;
   border: 1px solid orangered;
   padding: 10px;
}
img{
width: 700px;
height: 500px;
margin-left: 200px;
margin-bottom: 300px;
}


