.nav-bar {
    border-bottom: 1px solid black;
   
    
}
.nav-bar li {
    display: inline-block;
    padding: 15px; 
    font-weight: 400;
    
    

}
.nav-bar li button{
    border-radius: 10px;
    background-color:orangered;
    border: none;
    padding: 5px 15px;
    font-weight: bold;
}
.row1{
    height: 600px;
}
.icons-columns {
    display: inline;
    list-style: none;
    padding: 20px;
}
.span1{
color: orangered;


}
.icons-btn{
    padding: 10px 25px;
    border-radius: 3px;
    background-color: white;
    border: 0.5px solid grey;
    font-weight: 600;
    margin-right: 50px;
}
.mercedes {
    background-color: orangered;
    padding: 10px 25px;
    border: none;
    border-radius: 3px;
    font-weight: 300;
    margin-right: 50px;
    
}
.column-cars{
    float:left;
    width: 30%;
    padding: 10px;
    padding-top:90px;
    margin-left: 30px;

}
.card{
    box-shadow: burlywood;
    border-radius: 6px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 black;
   height: 450px;
}
.car-image {
    width: 100%;
}
.more-info{
background-color: orangered;
border-radius: 5px;
border:none ;
padding: 10px 12px;
font: 500px;



}

.column4 li {
    display: inline;
    list-style: none;
    padding: 30px;
}
.column1{
    float: left;
    width: 33.33%;
    margin-left: 26px;
  font-size: x-large;
}
.column2{
    float: left;
    width: 33.33%;
    margin-bottom: 70px;
    padding: 15px;
}
.column4{
    float: left;
    clear: left;
    margin-left: 30px;
}
#button1{
    border-radius: 6px;
    color: solid black;
   background-color: orangered;
   border: 1px solid orangered;
   padding: 15px;
}
#button2{
    border-radius: 6px;
    color: orangered;
   background-color: white;
   border: 1px solid orangered;
   padding: 15px;
}
.profile{
width: 600px;
height: 400px;
margin-left: 400px;
margin-bottom: 800px;
border-bottom: 2px solid white;
box-shadow: 5px 10px 10px gray;
background-color: white;

}

.coll1{
    float: left;
    width: 22%;
    margin-left: 30px;
}
.coll2{
    float: left;
    width: 25%;
}.coll3{
    float: left;
    width: 25%;
}.coll4{
    float: left;
    width: 25%;
}
input {
    border: 3px solid orangered;
    display: list-item;
    padding: 10px;
    flex-direction: column;
    margin: 8px 0;

}
.submit {
    background-color: orangered;
    border-radius: 5px;
    border: none;
    padding: 5px 19px;

}
.col-client{
    float: left;

}
.row11{
  display: flex;
  clear: left;
  width: 100vw;
  border: 30px;
  padding-top: 30px;
}
#customer{
    text-align: center;
padding: 10px;
margin:10px;

}
.appstore{
    width: 200px;
    height: 100px;
    margin-bottom: 70px;
    margin-left: 20px;
}
.playstore{
    width: 100px;
    height: 50px;
    margin-bottom: 100px;
    margin-left: 20px;
}
.mobile2{
    width: 150px;
    height: 300px;
    margin-left: 800px;
    margin-top: -800px;
    
}

.column10{
    background-color: rgb(184, 154, 115); 
    text-align: center;
    height: 30px;
    padding-bottom: 200px;
    margin-bottom: 300px;
    margin-top: 100px;
    border-radius: 50px;
    border-width: 30%;
    border-bottom: 50px;
}

